<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Horaires bibli</title>
  </head>
<body>

  <header>
    <h1>Horaires des bibliothèques municipales de Lyon</h1>
  </header>

  <main>
    <h2>Aujourd'hui {{ libraries[0].day.lower() }} :</h2>
    {% for library in libraries %}
      <div class="libraries">
        <h3>{{ library["name"] }} : {{ library["hours"] }}</h3>
        <!--<p><em>{{ library.info }}</em></p>-->
        <p><a target="_blank" rel="noopener noreferrer" href='{{ library["maps"] }}' title="Comment s'y rendre">S'y rendre</a> : {{ library["address"] }}</p>
      </div>
    {% endfor %}
  </main>
  <footer>
    <p>2019 || contact : sofiane point daouzli at gmail point com</p>
  </footer>
</body>
</html>
